Options +FollowSymLinks  
Options -MultiViews
    
# This is just some hackiness to get urls routed and cleaned properly.
# Normally a PHP framework will do this for you. This is just a raw example.
<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond $1 !^(index\.php|images|stylesheets|scripts|robots\.txt)
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>